# 数据概况
这是艾姆斯爱荷华州的房价数据，我现在的目的是用回归的方法预测下房价。数据字典见
https://ww2.amstat.org/publications/jse/v19n3/decock/DataDocumentation.txt

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
AmesHousing=pd.read_csv("AmesHousing.tsv", delimiter="\t")
AmesHousing.head(5)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

先制作一个Demo模型

In [2]:
# 清洗数据
# data 数据集
# return 清洗后的数据集
def transform_features(data):
    return data

In [3]:
# 特征选取
# data 数据集
# return 特征列的数据
def select_features(data):
    return data[["Gr Liv Area","SalePrice"]]

In [4]:
# 训练模型并测试误差
# return 误差RMSE
def train_and_test(data):
    # 清理包含空值的行
    data = data.dropna(axis=0)
    
    # 创建特征列，只包含数字类型的特征
    features = data.select_dtypes(include=["integer", "float"]).columns.drop("SalePrice")
    
    # 将数据分割成训练集和测试集
    train = data[0:1460]
    test = data[1460:]

    # 训练模型并作出预测值
    lr = linear_model.LinearRegression()
    lr.fit(train[features], train["SalePrice"])
    p = lr.predict(test[features])
    
    return mean_squared_error(p, test["SalePrice"])**(1/2)

In [5]:
transform_df = transform_features(AmesHousing)
filtered_df = select_features(transform_df)
rmse = train_and_test(filtered_df)
rmse

57088.25161263909

# 特征工程
- 处理缺失值:
    - 所有的列:
        - 删除缺失值超过5%的列
    - 文本列:
        - 删除缺失值超过1以上的列
    - 数字列:
        - 用该列中最多的数字，来填充该列的缺失值

删除缺失值超过5%的列

In [6]:
# 总行数 
AmesHousing_rows_num = AmesHousing.shape[0]

# 每一列的缺失值组成的series
miss_values_rows_num_serise = AmesHousing.isnull().sum()

# 删除
cols=miss_values_rows_num_serise[miss_values_rows_num_serise > (AmesHousing_rows_num*0.05)].index
t=AmesHousing.drop(cols, axis=1)

t.shape

(2930, 71)

删除文本列中缺失值超过1以上的列

In [7]:
AmesHousing.shape

(2930, 82)

In [8]:
# 选取只有文本列的列名
feature = AmesHousing.select_dtypes(include=["object"]).columns

# 求出每一列的空值数量
t = AmesHousing[feature].isnull().sum()
# 删除空值数量>1的列
t=AmesHousing.drop( t[t>1].index , axis=1)

t.shape

(2930, 67)

对于数字列而言，用该列中最多的数字，来填充该列的缺失值

In [9]:
# 获取只有数字类型的数据集
df = AmesHousing.select_dtypes(include="number")

# 获取每一列中出现次数最多的数字
col_val = {}
for col in df.columns:   
    col_val[col] = df[col].value_counts().index[0]

# 用重复次数最多的数字填充NaN
df = df.fillna(col_val)
df.isnull().sum()

Order              0
PID                0
MS SubClass        0
Lot Frontage       0
Lot Area           0
Overall Qual       0
Overall Cond       0
Year Built         0
Year Remod/Add     0
Mas Vnr Area       0
BsmtFin SF 1       0
BsmtFin SF 2       0
Bsmt Unf SF        0
Total Bsmt SF      0
1st Flr SF         0
2nd Flr SF         0
Low Qual Fin SF    0
Gr Liv Area        0
Bsmt Full Bath     0
Bsmt Half Bath     0
Full Bath          0
Half Bath          0
Bedroom AbvGr      0
Kitchen AbvGr      0
TotRms AbvGrd      0
Fireplaces         0
Garage Yr Blt      0
Garage Cars        0
Garage Area        0
Wood Deck SF       0
Open Porch SF      0
Enclosed Porch     0
3Ssn Porch         0
Screen Porch       0
Pool Area          0
Misc Val           0
Mo Sold            0
Yr Sold            0
SalePrice          0
dtype: int64

- 思考可以增加一个新的特征吗？
    - year sale - year build （出售年 - 建造年） 这意味着这间房子放了多久才被买走
    - year sale - year Remod/Add' （出售年 - 装修年）这意味着这间房子装修的时间
- 删除一些泄露了销售价格的列

建立 year sale - year build （出售年 - 建造年）

In [10]:
df = AmesHousing
print(df.shape)
df["year sale - year build"] = df["Yr Sold"] - df["Year Built"]

# 第2180行是负数，不符合逻辑，房子没建好就卖了？
df["year sale - year build"][df["year sale - year build"] < 0]

df=df.drop(2180, axis=0)
print(df.shape)
df["year sale - year build"][df["year sale - year build"] < 0]

(2930, 82)
(2929, 83)

Series([], Name: year sale - year build, dtype: int64)

建立装修年新列

In [11]:
df = AmesHousing
print(df.shape)
df["year sale - Year Remod"] = df["Yr Sold"] - df["Year Remod/Add"]

error_list = df["year sale - Year Remod"][df["year sale - Year Remod"] < 0].index

df=df.drop(error_list, axis=0)
print(df.shape)
df["year sale - Year Remod"][df["year sale - Year Remod"] < 0]

(2930, 83)
(2927, 84)

Series([], Name: year sale - Year Remod, dtype: int64)

In [12]:
error_list = ["Mo Sold", "Sale Condition", "Sale Type", "Yr Sold"]

更新下transform_df函数，用到上面的删除缺失值的方法、增加新特征和剔除泄露数据的列

In [13]:
def transform_df(data):
    # ------------ 删除缺失值超过5%的列 ------------
    # 每一列的缺失值组成的series
    miss_values_rows_num_serise = data.isnull().sum()

    # 删除缺失值超过5%的列
    cols = miss_values_rows_num_serise[miss_values_rows_num_serise > (data.shape[0]*0.05)].index
    data = data.drop(cols, axis=1)
    
    # ------------ 删除文本列中缺失值超过1以上的列 ------------
    # 选取只有文本列的列名
    cols = data.select_dtypes(include=["object"]).columns

    # 求出每一列的空值数量
    t = data[cols].isnull().sum()
    # 删除空值数量>1的列
    data = data.drop( t[t>1].index , axis=1)
    
    # ------------- 用该列中最多的数字，来填充该列的缺失值 -------------
    # 获取只有数字列的列名
    cols = data.select_dtypes(include="number").columns

    # 获取每一列中出现次数最多的数字 组建成一个字典
    col_val = {}
    for col in cols:
        col_val[col] = data[col].value_counts().index[0]

    # 用重复次数最多的数字填充NaN
    data = data.fillna(col_val)
    
    # ------------- 用SBrkr来填充Electrical列 -------------
    dics = {}
    dics["Electrical"] = "SBrkr"
    data = data.fillna(dics)
    
    # ------------- 建立装修年新列 -------------
    data["year sale - Year Remod"] = data["Yr Sold"] - data["Year Remod/Add"]
    
    # 新列中有负数，将其删除
    error_list = data["year sale - Year Remod"][data["year sale - Year Remod"] < 0].index
    data = data.drop(error_list, axis=0)

    # ------------- 建立 year sale - year build （出售年 - 建造年）新列 -------------
    data["year sale - year build"] = data["Yr Sold"] - data["Year Built"]

    # 第2180行是负数，不符合逻辑，房子没建好就卖了？
    df["year sale - year build"][df["year sale - year build"] < 0]

    df=df.drop(2180, axis=0)
    print(df.shape)
    df["year sale - year build"][df["year sale - year build"] < 0]
    return data

In [15]:
data=transform_df(AmesHousing)
data.isnull().sum().value_counts()

0    67
dtype: int64

# 特征选择

# 训练模型